/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:ital,wght@0,400;1,300&display=swap');

/* Asterisk selector */
* {
    margin: 0;
    padding: 0;
}

/* Body */
body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 100%; 
    min-height: 100vh;
    color: black;
}

/* H1, H2 & H3 */
h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: black;   
}

/* Header */
header {
    background-color: white;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    box-shadow: 0 1px 3px black;
}

/* Header Navbar positioning */
header ul {
    display: flex;
    gap: 15px;
}

/* Header a */
header a {
    color: black;
    text-decoration: none;
}

/* Nav  */
nav {
    position: absolute;
    bottom: 5px;
    right: 20px;
}

/* Remove numbers or dots from Navbar list */
ul > li {
    list-style: none;
}

.active {
    border-bottom: 1px solid black;
}

/* About us (Main content) */
h2 {
    position: relative;
    height: 80px;
    top: 8px;
    text-align: center;
}

.about-content {
    text-align: center;
    line-height: 1.5em;
}

.about-content img {
    width: 90%;
}







/* Contact Us (Main content)  */
#comment-section {
    background: url("../images/dumbbell.webp") no-repeat center/cover;
    width: 100%;
    height: 100%;
}

#submit-form {
    display: grid;
    grid-template-columns: 50%;
    box-sizing: border-box;
    height: 500px;
    width: 250px;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255);
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 5px;
    position: relative;
    top: 5%;
}

#submit-text {
    display: grid;
    width: 200%;
    gap: 10px;
    font-size: large;
}

.submit {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
}

/* Footer */
footer {
    background-color: black;
}

/* social media (Font Awesome icons)*/
#social-media {
    display: flex;
    justify-content: space-evenly;
    font-size: 130%;
    margin: 20px;
}

#facebook {
    color: #4267B2;
}

#twitter {
    color: #1877f2;
}

#youtube {
    color: #FF0000;
}

#instagram {
    color: #C13584;
}

/* Ipad screen & larger (768 & larger) */
@media screen and (min-width: 768px) {

nav {
    font-size: 140%;
    margin: 5px 1rem;
    bottom: 0;
}

#social-media {
    font-size: 150%
}

#submit-form {
    width: 30%;
    max-height: 400px;
}

#submit-text {
    height: 80%;
    width: 200%;
    font-size: 130%;
}

}

/* Larger Screens ( 998px and larger) */
@media screen and (min-width: 998px) {

#menu a:hover {
    color: red;
}

.submit:hover {
    color: rgb(128, 128, 128.7);
}

#social-media :hover {
    color: rgb(128, 128, 128.7);
}
}