/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:ital,wght@0,400;1,300&display=swap');

/* Asterisk selector */
* {
    margin: 0;
    padding: 0;
}

/* Body */
body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 70vh 10vh; 
    min-height: 100vh;
}

/* H1 */
h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: white;   
}

/* Header */
header {
    background-color: red;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

header > nav {
    position: absolute;
    bottom: 0;
    right: 10px;   
}

header > nav > ul {
    display: flex;
    gap: 8px;
}

ul > li {
    list-style: none;

}

/* Main */
main {
    background-color: blueviolet;
}

/* Footer */
footer {
    background-color: blue;
}