/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:ital,wght@0,400;1,300&display=swap');

/* Asterisk selector */
* {
    margin: 0;
    padding: 0;
}

/* Body */
body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 80vh 10vh; 
    min-height: 100vh;
    color: black;
}

/* H1 */
h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: black;   
}

/* Header */
header {
    background-color: white;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    box-shadow: 0 1px 3px black;
}

/* Header Navbar positioning */
header ul {
    display: flex;
    gap: 15px;
}

header a {
    color: black;
    text-decoration: none;
}

/* Nav  */
nav {
    position: absolute;
    bottom: 5px;
    right: 20px;
}

ul > li {
    list-style: none;
}

@media screen and (min-width: 768px) {

nav {
    font-size: 140%;
    margin: 0 1rem;
    bottom: 0;
}
}